
<div class="box align-content">
  <div class="columns is-mobile">
    <div class="column">
      <div class="box has-background-black" style="height: 100%;">
        <div class="columns">
          <div class="column is-size-5 has-text-white has-text-weight-bold">
            Weather
          </div>
          <div class="column is-vcentered" name="weatherIcon">
            {{> (lookup station.latestReport 'weatherIcon' )}}
          </div>
        </div>
        <div class="is-size-7 has-text-white has-text-left has-text-grey-light">
          <div class="is-capitalized">{{station.latestReport.description}}</div>
          Code: {{station.latestReport.code}}
        </div>
      </div>
    </div>
    {{>station-summary}}
  </div>
</div>
<div class="box title is-5 has-text-centered mb-0 pb-0">Temperature (°C)</div>
<div  class="box mb-6 mt-1 has-text-centered" id="tempChart" style="border-top-style:groove;border-bottom-style:groove;"></div>

<script>
  const tempData = {
    labels: [
      {{#each trendData.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature",
        values: [{{#each trendData.tempTrend}}{{this}},{{/each}}]
      },
      {
        name: "Feels Like",
        values: [{{#each trendData.feelsLike}}{{this}},{{/each}}]
      },
      {
        name: "Max",
        values: [{{#each trendData.tempMax}}{{this}},{{/each}}]
      },
      {
        name: "Min",
        values: [{{#each trendData.tempMin}}{{this}},{{/each}}]
      }
    ]
  }

  const tempChart = new frappe.Chart("#tempChart", {
    data: tempData,
    type: "bar",
    height: 180,
    colors: ["#ff0095","purple",]
  });

</script>

<div class="box title is-5 has-text-centered mb-0 pb-0">Humidity (%)</div>
<div  class="box mb-6 mt-1 has-text-centered" id="humidityChart" style="border-top-style:groove;border-bottom-style:groove;"></div>
<script>
  const humedityData = {
    labels: [
      {{#each trendData.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Humidity %", type: "line",
        values: [{{#each trendData.humidity}}{{this}},{{/each}}]
      }
    ]
  }

  const humidityChart = new frappe.Chart("#humidityChart", {
    data: humedityData,
    type: "line",
    height: 180,
    colors: ["red"]
  });
</script>

<br>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th class="has-text-centered is-vcentered">Date & Time</th>
      <th class="has-text-centered is-vcentered">Code</th>
      <th class="has-text-centered is-vcentered">Temperature</th>
      <th class="has-text-centered is-vcentered">Wind Speed</th>
      <th class="has-text-centered is-vcentered">Wind Direction</th>
      <th class="has-text-centered is-vcentered">Pressure</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="has-text-centered">
    {{#each station.reports}}
    <tr>
      <td class="pt-5 is-vcentered">
        {{dateAndTime}}
      </td>
      <td class="pt-5  is-vcentered">
        {{code}}{{reading.code}}
      </td>
      <td class="pt-5 is-vcentered">
        {{temperature}}{{reading.temperature}} °C
      </td>
      <td class="pt-5 is-vcentered">
        {{windSpeed}}{{reading.windSpeed}} m/s
      </td>
      <td class="pt-5 is-vcentered">
        {{windDirection}}{{reading.windDirection}}
      </td>
      <td class="pt-5 is-vcentered">
        {{pressure}}{{reading.preassure}} hPa
      </td>
      <td class="pt-5 is-vcentered">
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
      <td class="pt-5 is-vcentered">
        <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

