{{#each stations}}
  <div class="box has-text-centered m-0 py-1" style="border-top-style: groove;">
    <div class="columns m-0 has-text-left is-vcentered">
      <div class="column is-size-4 is-uppercase">
        {{latestReport.name}}
      </div>
      <div class="column is-size-6">
        Lat: {{latestReport.latitude}}
      </div>
      <div class="column is-size-6">
        Lon: {{latestReport.longitude}}
      </div>
      <div class="column is-1 has-text-centered is-vcentered">
        <a href="/station/{{_id}}" class="button is-light">{{>icons/edit}}</a>
      </div>
      <div class="column is-1 has-text-centered">
        <a href="/dashboard/deletestation/{{_id}}" class="button is-light">{{>icons/delete}}</a>
      </div>
    </div>
  </div>
  <div class="box is-mobile has-text-centered">
    <a href="/station/{{_id}}" class="is-size-4 has-text-white is-capitalized"></a>
    <div class="columns is-mobile">
      {{>station-summary}}
    </div>
  </div>
{{/each}}