
{{!-- latestReport.X shows the data to the Dashboard --}}
{{!-- station.latestReport.X shows the data to station-view --}}

  <div class="column">
    <div class="box has-background-black" style="height: 100%;">
      <div class="columns">
        <div class="column is-size-5 has-text-white has-text-weight-bold">
          Temperature
        </div>
        <div class="column">
          {{>icons/temperature}}
        </div>
      </div>
      <div class="is-size-7 has-text-white has-text-left has-text-grey-light">
        {{latestReport.temperature}}{{station.latestReport.temperature}} °C
        <br>
        {{latestReport.tempFahrenheit}}{{station.latestReport.tempFahrenheit}} °F
        <br>
        Feels like: {{latestReport.tempFeelsLike}}{{station.latestReport.tempFeelsLike}} °C
        <br>
        Min: {{latestReport.tempMin}}{{station.latestReport.tempMin}} °C
        <br>
        Max: {{latestReport.tempMax}}{{station.latestReport.tempMax}} °C
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black" style="height: 100%;">
      <div class="columns">
        <div class="column is-size-5 has-text-white has-text-weight-bold">
          Wind
        </div>
        <div class="column">
          {{>icons/wind}}
        </div>
      </div>
      <div class="is-size-7 has-text-white has-text-left has-text-grey-light">
        Speed:
        <br/> 
        {{latestReport.windSpeed}}{{station.latestReport.windSpeed}} m/s
        <br/>
        {{latestReport.windSpeedBeaufort}}{{station.latestReport.windSpeedBeaufort}} Btf
        <br>
        {{latestReport.windSpeedMph}}{{station.latestReport.windSpeedMph}} mph
        <br/>
        Direction: {{latestReport.windDirectionDegrees}} {{latestReport.windDirection}}{{station.latestReport.windDirectionDegrees}} {{station.latestReport.windDirection}}
        <br/>
        Wind Chill: {{latestReport.windChill}}{{station.latestReport.windChill}} °
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black" style="height: 100%;">
      <div class="columns">
        <div class="column is-size-5 has-text-white has-text-weight-bold">
          Pressure
        </div>
        <div class="column">
          {{>icons/pressure}}
        </div>
      </div>
      <div class="is-size-7 has-text-white has-text-left has-text-grey-light">
        {{latestReport.pressure}}{{station.latestReport.pressure}} hPa
      </div>
    </div>
  </div>
