{{> menu}}
<section class="section">
  <div class="columns has-text-centered mt-2">
    <div class="column is-1">
      <a class="button is-white" href="/dashboard">{{>icons/back}}</a>
    </div>
    <div class="column">
      <div class="title mr-6 pr-6">
        {{station.name}}
      </div>
      <div class="columns has-text-centered">
        <div class="column">
          Lat: {{station.latestReport.latitude}}
        </div>
        <div class="column mr-6 pr-6">
          Lon: {{station.latestReport.longitude}}
        </div>
      </div>
    </div>
  </div>
  {{> list-reports}}
  {{> add-report}}
  <div id="map" style="height: 500px"></div>
</section>

{{!-- Script make the map appears --}}
<script>
    const lat = {{station.latestReport.latitude}};
    const lon = {{station.latestReport.longitude}};
    const map = L.map('map').setView([lat, lon], 4);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const marker = L.marker([lat, lon]).addTo(map);
  
    const popup = L.popup()
    .setLatLng([lat, lon])
  </script>